@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Exo';
    src: url('/Exo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* initial-letter: 6; */
}